@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    --bg-color: whitesmoke;
    --font-color: black;
    --shadow-color: lightgray;
    background-color: var(--bg-color);
    color: var(--font-color);
    &.dark {
        --bg-color: black;
        --font-color: white;
        --shadow-color: darkslategray;
        .header {
            img {
                filter: invert(1);
            }
        }
    }
}

.header {
    border-bottom: 1px solid var(--shadow-color);
    background-color: var(--bg-color);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    img {
        height: 25px;
        width: 25px;
    }
}
.box {
    bottom: 0;
    left: 0;
    right: 0;
    .send {
        position: fixed;
        display: flex;
        bottom: 0;
        width: 100%;
        input, button {
            background-color: var(--bg-color);
            color: var(--font-color);
            border: 1px solid var(--shadow-color);
        }
        button {
            padding: 5px 10px;
        }
        input {
            flex: 1;
            padding: 10px;
        }
    }
    .history {
        display: flex;
        bottom: 0;
        flex-direction: column;
        margin-bottom: 45px;
        .msgBubble {
            .name {
                border: none;
                font-weight: bold;
            }
            width: max-content;
            padding: 5px 10px;
            margin: 5px;
            border: 1px solid var(--shadow-color);
            border-radius: 15px;
            max-width: 50%;
            small {
                float: right;
                font-size: x-small;
                margin: 10px 0 0 10px;
            }
            &.msgSent {
                background-color: var(--font-color);
                color: var(--bg-color);
                align-self: flex-end;
                border-bottom-right-radius: 0;
            }
            &.msgRecieved {
                align-self: flex-start;
                border-bottom-left-radius: 0;
            }
        }
    }
}